@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Indie Flower", cursive;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #ededed;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #ededed 0%, #000 50%, #ededed 100%);
}

.container {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.container__child {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.social {
  margin-top: 40px;
  width: 160px;
}
.social__icon {
  list-style: none;
  margin-bottom: 7px;
}
.social__link {
  position: relative;
  width: 80px;
  height: 80px;
  color: #555;
  background-color: #fff;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  font-size: 40px;
  &:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg)
      translate(20px, -20px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}
.social__link--git:hover {
  background-color: #444;
  &::before {
    background-color: #222;
  }
  &::after {
    background-color: #777;
  }
}

.social__link--linkedIn:hover {
  background-color: #0073b1;
  &::before {
    background-color: #005d8f;
  }
  &::after {
    background-color: #0081c7;
  }
}

.social__link--home:hover {
  background-color: #008000;
  &::before {
    background-color: #005300;
  }
  &::after {
    background-color: #00a300;
  }
}

.social__link--proyect:hover {
  background-color: #904000;
  &::before {
    background-color: #602b00;
  }
  &::after {
    background-color: #a05000;
  }
}

.social__link::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background-color: #b2b2b2;
  transition: 0.5s;
  transform: perspective(1000px) rotate(0deg) skewY(315deg);
}

.social__link::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background-color: #e5e5e5;
  transition: 0.5s;
  transform: perspective(1000px) rotate(0deg) skewX(315deg);
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  background-color: #fff;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  height: 70px;
  width: 90%;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}
.navbar__links--item {
  display: flex;
  flex-direction: column;

  a {
    font-size: 28px;
    text-decoration: none;
    color: #000;
    padding: 2px;
  }
  span {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: 0.5s;
    transform: scaleX(0);
  }
  &:hover {
    span {
      transform: scaleX(1);
    }
  }
}
.navbar--phone {
  display: none;
}
.nabvar__burguer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: none;
  background-color: #fff;
  transition: 0.2s;
  &:active {
    font-size: 20px;
    color: #717171;
  }
}

.navbar__name {
  font-size: 60px;
  font-weight: 600;
  
}
.navbar__developer {
  text-decoration: underline;
}
.navbar__link {
  a {
    text-decoration: none;
  }
}

.navbar__link--text {
  color: #000;
  font-size: 32px;
  transition: 0.5s;

  &:hover {
    transform: translateY(-10px);
    text-shadow: 0 10px 4px #999;
  }
}

.dropdown {
  z-index: 1000;
  position: fixed;
  left: 5%;
  top: 95px;
  background-color: #000;
  width: 90%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: open 1s ;
}
@keyframes open {
  0%{
    transform: scaleY(0);
    top: 0;
  }
  100%{
    transform: scaleY(1);
    top: 95px
  }
}
.dropdown__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  border: 1px solid #fff;
  border-top: 0;
}
.dropdown__link--item {
  color: rgb(193, 0, 193);
  text-decoration: none;
  font-size: 30px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.profile__container--img {
  width: 401px;
  height: 410px;
  border-radius: 50%;
  border-bottom: 15px solid #171717;
  border-right: 15px solid #171717;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
  transform: perspective(1000px) rotateX(25deg) rotateY(-30deg);
}

.profile__image {
  width: 400px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
  &:hover {
    animation: girar 3s linear infinite;
  }
  animation: girar 3s linear infinite paused;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile__info--text {
  font-size: 25px;
  margin-left: 10px;
}

.profile__skills--react {
  animation: girar 8s linear infinite;
}

.profile__skills {
  max-width: 160px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  &:hover {
    transform: scale(0.8);
  }
}

.profile__skills--container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.proyects{
  padding-top: 100px;
}
.proyects__info--title {
  font-size: 60px;
  margin-top: 5px;
}
.proyects__image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 400px);
  grid-template-areas:
    "elem1 elem1"
    "elem2 elem3"
    "elem4 elem4"
    "elem5 elem6"
    "elem7 elem7";
  gap: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.overlay {
  transition: 0.3s linear;
  transform: translateX(-105%);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #5b40f3a6;
}
.image__overlay {
  position: relative;
  overflow: hidden;
  transition: 1s linear;
  border-radius: 14px;
  &:hover {
    .overlay {
      transform: translateX(0);
    }
  }
}
.overlay--links {
  a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
    border: 1px solid #fff;
  }
}

.proyects__image--elem {
  border-radius: 14px;
}

.proyects__image--elem1 {
  grid-area: elem1;
}

.proyects__image--elem2 {
  grid-area: elem2;
}
.proyects__image--elem3 {
  grid-area: elem3;
}
.proyects__image--elem4 {
  grid-area: elem4;
}
.proyects__image--elem5 {
  grid-area: elem5;
}
.proyects__image--elem6 {
  grid-area: elem6;
}
.proyects__image--elem7 {
  grid-area: elem7;
}

.container__footer {
  background-color: #000;
  height: 100px;
}
.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.footer__container--elem {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer__elem {
  cursor: pointer;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.contactMe {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contactMe__title {
  font-size: 50px;
}
.contactMe__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactMe__child {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  font-family: inherit;
  border: 1px solid #000;
  padding-left: 5px;
}
.contactMe__textarea {
  height: 80px;
}
.contactMe__button {
  width: 200px;
  height: 30px;
  padding: 0;
  color: #fff;
  background-color: #000;
  border: #fff solid 1px;
  transition: 0.3s;
  &:active {
    color: #000;
    background-color: #fff;
    border: #000 solid 1px;
  }
}

@media (max-width: 767px) {
  .navbar--computer {
    display: none;
  }

  .navbar--phone {
    display: flex;
  }

  .navbar__name {
    margin: 5px;
  }
  .dropdown{
    display: flex;
  }
  .proyects__image {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 400px);
    grid-template-areas:
      "elem1"
      "elem2"
      "elem3"
      "elem4"
      "elem5"
      "elem6"
      "elem7";
  }

  .container__footer {
    height: 150px;
  }
  .footer {
    flex-direction: column;
    gap: 15px;
  }
  .footer__container--elem {
    justify-content: space-evenly;
  }
  .footer__elem {
    padding: 0.1;
    margin: 3px 4px;
  }
  .profile {
    flex-direction: column;
  }

  .profile__skills--container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .contactMe {
    flex-direction: column;
  }
  .contactMe__child {
    width: 300px;
  }
}
@media (max-width: 459px) {
  .footer {
    gap: 0;
  }
  .footer__container--elem {
    flex-wrap: wrap;
    gap: 0;
  }
  .footer__elem {
    padding: 0.1;
    margin: 3px 3px;
  }
}
